@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button{ margin: 0; padding: 0;}

.innerButton {width:100px; height:30px; background:-webkit-linear-gradient(#fff, #fff, #f9f9f9); padding:0; margin:0; border:1px solid #ccc; border-radius:0; float:right; color:#333; font-size:12px; !important} 
.innerButton:hover{ background:#f9f9f9;}

img {border:none;}
ul li{ list-style:none;}

a, h1, h2, h3, h4, h5, h6, table, tr, td, th, ul, li, input, select, textarea, button, p, span, strong {font-family: '나눔고딕', 'Nanum Gothic', sans-serif; text-decoration:none; color:#333; font-size:12px; }

input::-webkit-input-placeholder{ color:#ccc;}

table, tr, td {margin:0; padding:0; border-spacing:0; border:0; border-collapse:collapse;}


select {
  -webkit-appearance: none;  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { 
  display: none;
}



.inputStyle {
	font-family: inherit;  /* 폰트 상속 */
	color:#999;
	border: 1px solid #999; 
	border-radius: 3px; /* iOS 둥근모서리 제거 */
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	resize:none;
	
}

.button { background: #666 none repeat scroll 0 0;
	border:#666;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    width:200px;
	height: 50px;
    padding: 0 8px;
	}

.button:hover {
	background-color:#464646;
}

.rButton { background: #666 none repeat scroll 0 0;
	border:#666;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    width:100px;
	height: 30px;
    padding: 0 8px;
	float:right;
	}
	
.rButton:hover {
	background-color:#464646;
}
.input_category {
  width: 200px; /* 원하는 너비설정 */
  padding: 5px 0 5px 5px; /* 여백으로 높이 설정 */
  background: url(../img/arrow_down.png) no-repeat 175px center; /* 네이티브 화살표 대체 */  
  background-size:15px 10px;
  
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
.input_category::-ms-expand { 
  display: none;
}