@CHARSET "UTF-8";

#modalWindowWrap_fri_header{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,.8); 
left:0; top:0; z-index:999; display:none; }


#modalWindow_fri{ position:absolute; width:400px; height:490px; top:50%; left:50%; margin-left:-200px; 
margin-top:-245px; border:1px solid #333; background:#fff; box-shadow : rgba(0,0,0,0.5) 0 0 8px 3px;}

#mdBody_fri{ height:450px;}
#ul_fri{ height:450px;}
#p_friend{ height:60px; line-height:60px; }
#p_friend strong{ font-weight:normal;}
#p_friend input{ margin-top:20px;}

#friendNoteBtn{ width:25px; height:20px; float:right; margin-right:10px; background:#aaa; color:#fff; font-size:13px;} 
