@charset "utf-8";
/* CSS Document */


header {width:100%; height:110px; position:fixed; z-index:999;}

.util_menuWrap{ width:100%; height:30px; background :#333;}

.util_menuWrap ul.util_menu{ display:block; height:30px; float:right; padding-right:50px;}
.util_menuWrap ul.util_menu li { list-style:none; float:left; padding-left:20px; color:#fff; line-height:30px; }
.util_menuWrap ul.util_menu li strong {color:inherit;}
.util_menuWrap ul.util_menu li a { width:160px; background:url(../img/arrow_down.png) no-repeat 145px center; background-size:10px 5px; display:block;  font-size:12px; line-height:30px; color:#eee;}
.util_menuWrap ul.util_menu li a#a_addMenu{ width:70px; background:url(../img/arrow_down.png) no-repeat 55px center; background-size:10px 5px;}

.util_menuWrap ul.util_menu li a:hover{ color:#fff;}

.gnb{ width:100%; height:80px; background:#C30D22;}
#imgLogo {position:absolute; left:50%; margin-left:-105px; margin-top:10px; }


.pop{ width:88px; height:127px;  display:none; position:absolute; z-index:995; right:51px; top:26px; 
color:#fff; background:#333; outline:1px solid #999; outline-offset:-3px; border-radius:2px;}
.pop li{  text-align:center;}
.pop li a{ color:#eee; height:25px; line-height:25px; }
.pop li a:hover{ color:#fff;}

#pop_addMenu{ height:52px; right:235px;}

.table_list{ table-layout:fixed;}

.tr_list{ border-bottom:1px solid #ccc;}

.tr_list th{ background:#eee; height:30px;}
.tr_list td{ height:30px;}

.table_list p{ text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
