@CHARSET "UTF-8";


html, body{ width:100%; height:100%; position:relative; }
.contentWrap{ width:100%; height:100%; background:#fff;}


.mainBoxWrap{ width:950px; height:100%; float:left; position:absolute; left:250px; }
.mainBox {width:900px; height:100%; padding-left:50px; margin-top:35px;  }

footer {width:900px; height:150px;}

h1 {font:20px Arial, Helvetica, sans-serif; font-weight:600; color:#999; padding-bottom:35px; }


.ul_concert {width:900px; height:100%; display:block;}
.ul_concert p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ul_concert li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d6d6d6 #d6d6d6 #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
	margin-right:20px;
   	margin-bottom:30px;
    position: relative;
    width: 198px;
}

.concert_title{
    color: #333;
    font-size: 12px;
    font-weight: normal;
	height:14px;
    line-height: 14px;
    overflow: hidden;
    padding: 6px 12px 0;
    text-overflow: ellipsis;
	font-weight:600;
}

.concert_place, .concert_date{
	color:#666;
	line-height:14px;
    min-height: 14px;
    overflow: hidden;
    padding: 6px 12px 0;
}

.concert_place {padding-bottom:10px;}