@CHARSET "UTF-8";



.contentView {width:900px; padding-top:30px; }
#hallIntro {display:block;}
#hallOngoing {display:none;}
#hallSeat{ display:none;}
#seatReview {display:none;}
#hallMap {display:none;}
#hallOngoing #p_setList, #p_review { height:30px; padding-top:15px;}
#hallReview {display:none;}

#p_review{ clear:both; display:inline-block;}

#edit_setList {background:#666;}


.table_list{ table-layout:fixed;}

.tr_list{ border-bottom:1px solid #ccc;}

.tr_list th{ background:#eee; height:30px;}
.tr_list td{ height:30px;}

.table_list p{ text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

#ongoingTitle{ width:600px;}
#ongoingDate{ width:300px;}






div#seatReview {width:900px; height:500px;}
.input_seatFloor, .input_seatStanding{
	float:left;
  width: 100px; /* 원하는 너비설정 */
  padding: 3px 0 3px 5px; /* 여백으로 높이 설정 */
  background: url(../img/arrow_down.png) no-repeat 75px center; /* 네이티브 화살표 대체 */  
  background-size:15px 10px;
}

.input_seatStanding{ margin-left:10px;}

#p_searchSeatReview {height:45px; }
#p_searchSeatReview select, #p_searchSeatReview input{float:left;}
#p_searchSeatReview select {height:28px;}


.ul_seatReview {width:900px; max-width:900px; display:inline-block; }
.ul_seatReview p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ul_seatReview li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d6d6d6 #d6d6d6 #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
	margin-right:20px;
   	margin-bottom:20px;
    
    width: 156px; max-width: 156px;
    height:186px; max-height:186px; 
    
}
.ul_seatReview li.list_lastLine {margin-right:0;}



.seat_title{
    color: #333;
    font-size: 12px;
    font-weight: normal;
	height:20px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 12px 0;
    text-overflow: ellipsis;
}



#concerthallMap{width:800px; height:600px;}


.pp_social {display:none;}
.ppt {display:none; !important} 
.pp_middle {display:none;}
.pp_top  {display:none;}


.modalWindow2{position:absolute; width:500px; height:540px; top:50%; left:50%; margin-left:-250px; margin-top:-275px; border:1px solid #333; background:#fff; box-shadow : rgba(0,0,0,0.5) 0 0 8px 3px;}
#mdBody1{ padding:10px 20px 0; height:84px; border-bottom:1px solid #ccc; }
#mdBody2{ padding:10px 20px 0; height:375px;  }
#p_searchSeatReview span {display:block; line-height:30px; color:#333;}
input.inputSeat { width:65px; height:24px; margin-left:10px; padding-left:5px;}

#p_seatPic{ height:65px;}
#label_seatPic{ display:block; line-height:30px; clear:both;}
#label_seatReviewPic{ display:block; line-height:30px; clear:both;}

#seatPicWrap{ width:448px; height:248px; padding:5px; border:1px solid #ccc; border-radius:2px;}
#seatReviewPicWrap{ width:448px; height:248px; padding:5px; border:1px solid #ccc; border-radius:2px;}

#input_seatPicName{ width:350px;}
#input_seatReviewPicName{ width:350px;}

#submit_seatPic{ margin-top:10px; border:none; background:#666; color:#eee;}
#submit_seatReviewPic{ margin-top:10px; border:none; background:#666; color:#eee;}

#p_review span#span_hallReview{ width:165px; margin-left:420px;}



#div_seatPic{ width:900px; height:auto;}

#modalWindow2_seat{ height:450px; margin-top:-225px;}


select#reviewSearchCategory{ width:130px; background-position:105px center; float:left;}
.box_hallReview{ width:100%; height:auto;  margin-bottom:20px;}
.boxT_hallReview{ width:880px; padding:0 10px; height:25px; line-height:25px; background:#f9f9f9; border-bottom:1px solid #ccc;}
.boxB_hallReview{ width:880px; padding:10px; height:auto; border-bottom:1px solid #ccc; box-shadow:#f9f9f9 0 1px 2px;}
.ul_hallReview{ display:inline-block; height:30px; float:right;}
.ul_hallReview li{ float:left;}
.span_hallReviewTitle{ }
.li_hallReviewSeat{text-align:right;}
.li_hallReviewSeat:after{ content:"|"; padding:0 10px;}
.li_hallReviewDate{ text-align:right; }
.li_hallReviewDate:after{ content:"|"; padding:0 10px;}
.li_hallReviewId{ text-align:right; }

#content_hallReview{ width:880px; max-height:40px; white-space:pre-wrap; text-overflow:ellipsis; overflow:hidden; word-break:break-all;}


