@CHARSET "UTF-8";

#concertTitle {width:900px; height:60px; line-height:30px; font-size:18px; display:inline-block;}

#innerButtonBox { position:absolute; right:0; width:215px; height:30px; float:right; display:inline-block;}



#likeToGo {margin-right:15px;}

.concertProfileBox {width:900px; height:300px;}
.profileSize{ height:225px;}
.concertPoster {width:225px; height:300px; float:left;}
.concertProfile {width:625px; height:300px; padding-left:50px; float:left;}
.concertProfile span {width:625px; height:25px; font-size:13px; line-height:25px; word-break:break-all;}


.concertProfile p, .concertProfile span a {font-size:13px; min-height:25px; line-height:25px; font-weight:400; }
.concertProfile p a:hover {text-decoration:underline;}


h3.concert_subTitle {width:900px; height:30px; line-height:30px; font-size:16px; padding-bottom:10px; display:block; font-weight:700; display:block;}

.contentView {width:900px; padding-top:30px; }
#concertIntro {display:block;}
#concertSetList {display:none;}
#concertReview {display:none;}
#concertTimeLine {display:none;}
#concertSetList #p_setList, .p_review { height:30px; padding-top:15px;}


#tabBox {padding-top:80px;}
.tabs {width:900px; height:31px; border-bottom:1px solid #ccc;}
.tabs li { width:100px; height:30px; float:left; margin-right:10px; border-top:1px solid #ccc; border-right:1px solid #ccc; border-left:1px solid #ccc; border-top-left-radius:4px; border-top-right-radius:4px;}
.tabs li a { display:block; width:100px; height:30px; text-align:center; line-height:30px; background:#f3f3f3;}
.tabs li a:hover {height:31px; background:#fff;}


#edit_setList {background:#666;}
.tr_setList, .tr_review { border-bottom:1px solid #ccc;}

.tr_setList th, .tr_review th {background:#eee; text-align:center;}

#table_setList, #table_review { table-layout:fixed;}
#table_setList th, #table_setList td, #table_review th, #table_review td{ height:30px;}
#table_editSetList th, #table_editSetList td{ height:35px;}


.setListNum{ width:100px;}
.setListTitle{ width:600px;}
.setListLink{ width:200px;}

.setListNum p, .setListLink p {text-align:center;}




#table_setList p, #table_editSetList p { white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

#reviewNum p, #letsGoNum p{ width:100px; text-align:center;}
th#reviewTitle p, th#letsGoTitle p{ width:450px; text-align:center;}
td#reviewTitle p, td#letsGoTitle p{ width:450px; text-align:left;}
#reviewTitle p a:hover, #letsGoTitle p a:hover{ text-decoration:underline;}
th#reviewId p, th#letsGoId p{ width:100px; text-align:center;}
td#reviewId p, td#letsGoId p{ width:100px; text-align:left;}

#reviewDate p, #letsGoDate p{ width:150px; text-align:center;}
#reviewHits p, #letsGoHits p{ width:100px; text-align:center;}


.input_categoryReview {
	float:left;
  width: 100px; /* 원하는 너비설정 */
  padding: 3px 0 3px 5px; /* 여백으로 높이 설정 */
  background: url(../img/arrow_down.png) no-repeat 75px center; /* 네이티브 화살표 대체 */  
  background-size:15px 10px;
}

#p_searchReview {height:40px; }
#p_searchReview select, #p_searchReview input, #p_searchReview span{float:right;}
#p_searchReview select {height:28px;}
.input_searchReview { width:200px; height:24px; padding-left:5px; margin-left:10px;}
.btn_searchReview a{ width:24px; height:24px; display:block; background:url(../img/search.png) no-repeat center center; margin-left:5px; float:right;}

.p_review{ text-align:center;}
.p_review span {width:165px;}
.p_review span a {width:15px;  line-height:30px; text-align:center; display:inline-block; font-size:13px; }
.p_review span a.page {width:30px; font-weight:bold;}
.p_review span a:hover {color:#C30D22;}

input#write_review{ background:#666; float:right; color:#fff;}
input#write_review:hover { background:#444;}


#timeLineWrap {width:400px; height:550px; }
#timeLineHeader {width:398px; height:38px; border-top-left-radius:5px; border-top-right-radius:5px; border:1px solid #ccc; background:#f9f9f9;}
#timeLineHeader p {line-height:38px; font-size:12px; color:#333; font-weight:bold; padding-left:10px;}

#timeLineBody {width:398px; height:450px; border-left:1px solid #ccc; border-right:1px solid #ccc;}

#timeLineFooter {width:378px; height:28px; padding:15px 10px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #ccc;}


#timeLineBody ul, .mdBody ul{width:388px; padding-left:10px; height:450px; overflow-y:scroll;}
#timeLineBody ul li, .mdBody ul li{ width:360px; border-bottom:1px solid #ddd; overflow:hidden;}
#timeLineBody ul li:last-child{ border-bottom:none;}

.tLImgWrap, .mdImgWrap{ float:left;  }
.tLImgWrap img, .mdImgWrap img{ border-radius:50%; margin-top:10px;}
.mdImgWrap img{ margin-bottom:9px;}
.tLTextWrap, .mdTextWrap{ width:300px; float:left; padding-top:5px; padding-bottom:5px; padding-left:10px;}
.tLTextWrap p, .mdTextWrap p{ width:300px; line-height:20px; font-size:12px;}

p#tLUserName, p#mdUserName{ font-weight:bold;}
p#tLUserName span, p#mdUserName span{ font-weight:normal; float:right; font-size:11px; color:#666;}
p#tLText, p#mdText{ min-height:20px; height:auto; word-break:break-all; max-height:39px; overflow:hidden;}
p#mdText{ float:left; width:240px; padding-right:10px;  }
#mdDelete{ width:40px; height:20px; float:right; }

#tLInputText, #mdInputText {width:298px; height:28px; border-top-right-radius:0; border-bottom-right-radius:0; padding:0 5px;}
#tLInputBtn, #mdInputBtn { width:68px; height:30px; background:#666; color:#eee; letter-spacing:1px; border:none;}


