@CHARSET "UTF-8";


/* list LetsGo*/

#modalWindow_letsGo{ width:927px; margin-left:-463px; height:500px; margin-top:-250px; }
.mdBody_letsGo{ height:460px; overflow-y:scroll; padding: 0; }
#table_letsGo{ }




/* read LetsGo*/

#table_readLetsGo{ width:910px;}
#th_infoReadLetsGo ul{ width:100%; height:100%; overflow-y:hidden; padding:0;}

/*
#th_infoReadLetsGo ul { width:100%; background:#fff; }
#th_infoReadLetsGo ul li{ float:left; padding:0; width:100%;}
*/

#th_infoReadLetsGo ul{ width:100%; background:#fff;}
#th_infoReadLetsGo ul li{ width:auto; height:30px; font-weight:normal; line-height:30px; float:right; padding-right:10px; color:#333; border:none;}
#th_infoReadLetsGo ul li:first-child{ padding-right:0;}
#th_infoReadLetsGo ul li:after{ content:"|"; padding-left:10px; color:#ccc;}
#th_infoReadLetsGo ul li:first-child:after{ content:"";}

/* #th_titleReadReview{ text-align:left; padding-left:10px;} */

#tr_readLetsGo{ height:183px; vertical-align:top;}
.td_readLetsGo{  padding:10px;}
.p_replyLetsGo{ width:900px;}
.table_replyLetsGo{ width:910px; padding-right:0;}
.div_inputReplyLetsGo{ width:870px;}

#listViewletsGo {float:left; margin-left:10px;}
#listViewLetsGo:hover {background:#f5f5f5;} 




/*write LetsGo*/

#mdBody_writeLetsGo{ padding:20px;}
#p_writeLetsGo{ border-bottom:1px solid #eee; height:40px; line-height:40px;}
#subjectLetsGo{ height:28px;}
#contentLetsGo{ width:835px; height:280px; resize:none; padding:15px; margin-top:15px; margin-bottom:15px;}
#titleLetsGo{ width:750px;}

input#write_review2{ margin-right:10px; background:#666; float:right; color:#fff;}
input#write_review2:hover { background:#444;}
