@CHARSET "UTF-8";

#addFriend{ margin-left:10px; margin-right:10px;}
#userProfile{ width:900px; min-height:150px; text-align:center;}
#profile_img {width:150px; height:150px; margin-left:375px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; overflow:hidden; }

#profileCard {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    background-color: white;
    display: inline-block;
    width: 870px;
	
	padding:5px 15px 15px;;
}

#p_userId{ width:inherit; height:30px; line-height:30px; border-bottom:1px solid #ccc; font-weight:bold;}
#p_introduce{ width:inherit; min-height:90px; word-break:break-all; padding-top:10px; color:#999;}


#myPageContent1, #myPageContent2 { border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    background-color: white;
    display: inline-block;
    width: 870px;	
	padding:5px 15px 15px;;}

.myPageContents { margin-top:40px; }

.p_myPageContents{ font-size:14px; line-height:30px; background:#fff; color:#666; font-weight:500; width:inherit; border-bottom:1px solid #ccc; margin-bottom:10px; padding-left:5px;}

#p_myPageContent3{ border-bottom:none;}

.scrollContents {overflow:hidden;}
.ul_scroll{ height:243px; max-height:243px; padding-bottom:10px; }
#ul_likeArtist { height:193px;}

.ul_scroll li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d6d6d6 #d6d6d6 #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
	margin-right:20px;
   	
    position: relative;
    width: 158px;
}
.ul_scroll li:last-child{ margin-right:0;}

.p_scroll{ line-height:30px; padding:0 5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}


.scrollBars {width:870px; height:10px; background:#eee;}
.bars { width:100px; height:10px; background:#666;}

#myReviewNum p{width:80px;}
#myReviewDate p{width:120px;}
#myReviewConTitle p{width:245px;}
td#myReviewConTitle p{padding-left:10px;}
th#myReviewTitle p { text-align:center;}
td#myReviewTitle p{ width:420px; text-align:left; padding-left:20px;}



#p_myReview {height:30px; padding-top:15px;}
#p_myReview span {width:165px;margin-left:355px;}
#p_myReview span a {width:15px;  line-height:30px; text-align:center; display:inline-block; font-size:13px; }
#p_myReview span a.mPage {width:30px; font-weight:bold;}
#p_myReview span a:hover {color:#C30D22;}