@CHARSET "UTF-8";

#modalWindowWrap_note_header{ width:100%; height:100%; position:fixed; background:rgba(0,0,0,.8); 
left:0; top:0; z-index:999; display:none; }

#modalWindow3{ position:absolute; width:800px; height:440px; top:50%; left:50%; margin-left:-400px; 
margin-top:-220px; border:1px solid #333; background:#fff; box-shadow : rgba(0,0,0,0.5) 0 0 8px 3px;}

#mdBody_left{ float:left; width:147px; height:400px; 
border-right:1px solid #ccc; box-shadow:#eee 2px 0 2px 0;}

#write_note{ }
#mdBody_left ul li{ border-bottom:1px solid #ddd;}
#mdBody_left ul li:first-child{ border-bottom:none; display:inline-block; padding:20px 10px;}
#mdBody_left ul li:first-child input {width:125px; height:40px; border-radius:2px;}
#mdBody_left ul li a{ padding-left:10px; line-height:35px;}

#mdBody_right{ float:left; width:650px; height:400px;}


#noteSelect{ width:80px; text-align:center;}
#noteTo{ width:150px; }
#noteTitle p{ width:260px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
#noteDate{ width:160px; text-align:center;}

.table_list{ table-layout:fixed;}

.tr_list{ border-bottom:1px solid #ccc;}

.tr_list th{ background:#eee; height:30px;}
.tr_list td{ height:30px;}

.table_list p{ text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}


#table_readNote{ width:100%;}
#td_infoNote { width:640px; background:rgba(0,0,0,.025); height:65px; float:right; padding-left:10px; padding-top:5px;}
#td_infoNote p { line-height:20px; text-align:left;}
#td_contentNote{ height:264px; vertical-align:top; padding:10px;}
#td_buttonNote{ height:43px; border-bottom:none;}

#replyNote{ margin-right:10px;}










#mdBody_writeNote {padding:10px 20px;}
#mdBody_writeNote p{ height:60px; line-height:60px;}

#toWriteNote{ width:543px; position:relative;}
#contentWriteNote{ width:585px; height:250px; padding:10px; margin-bottom:10px;}

#noWriteNote{ margin-right:10px;}


#addressView { width:525px; padding:10px;  position:absolute; top:95px; right:25px; border:1px solid #ccc; box-shadow:#eee 1px 1px 2px; z-index:1000; background-color:#fff; border-color:#eee #ddd #ccc #ddd; display:none}