@CHARSET "UTF-8";

.ul_search {width:880px; height:100%;}
.ul_search li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d6d6d6 #d6d6d6 #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
   	margin-bottom:20px;
    position: relative;
    width: 860px;
}

li#list_search a {width:872px; height:100px;}

#search_info {width:760px; height:100px; float:left; background:url(../img/arrow_right.png) no-repeat 725px center; }


.concert_title{
    color: #333;
    font-size: 12px;
    font-weight: normal;
	height:14px;
    line-height: 14px;
    overflow: hidden;
    padding: 10px 12px 0;
    text-overflow: ellipsis;
	font-weight:600;
}

.concert_place, .concert_date{
	color:#666;
	line-height:14px;
    min-height: 14px;
    overflow: hidden;
    padding: 6px 12px 0;
}

.concert_place {padding-bottom:10px;}

