@CHARSET "UTF-8";

.formBox {
	float:left;
	
}

#formBoxWrap{ width:900px; height:auto;display:inline-block;}
#formBoxLeft { min-height:784px; width:325px; padding-left:25px; padding-top:30px; padding-bottom:30px;}
#formBoxRight { min-height:838px; width:500px;  padding-right:50px; padding-bottom:30px; }

#memberButtonBox {
	width:900px; height:auto;
	display:inline-block;
	
	
	
	}

	
.inputLabel {color:#333; font-size:12px; font-family: '나눔고딕', 'Nanum Gothic', sans-serif; height:36px; line-height:36px; float:left;}
#formBoxLeft input {position:absolute; right:0;}

	
.rInputStyle { background: #fff none repeat scroll 0 0;
	border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #999;
    display: inline-block;
    font-size: 12px;
    width:230px;
	height: 36px;
    padding: 0 8px;
	
	}

    


.rinputBox { width:100%; height:36px; margin:0 0 15px;}


#table_RsetList{ table-layout:fixed; display:inline-block;}

#table_RsetList caption{ text-align:left; height:36px; line-height:36px; padding-top:30px;}

#table_RsetList th, #table_RsetList td{ height:30px; }

.tr_RsetList{ border-bottom:1px solid #eee;}
.tr_RsetList p{ white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.tr_RsetList th{background:#eee; font-weight:normal; text-align:center; border-bottom:1px solid #ccc;}


.rsetListNum{ width:60px; max-width:60px; text-align:center;}
.rsetListTitle{ width:180px; max-width:180px; text-align:left;}
.rsetListLink{ width:85px; max-width:85px; text-align:center;}


#profile_txt {width:500px; height:auto;}
#reviewTitle {width:500px;}
#p_reviewTitle {margin-bottom:0;}

.p_write {width:497px; height:30px; line-height:30px; padding-left:3px; padding-top:20px;}
#p_write_first {padding-top:0;}
/* #reviewContent {width:478px; height:228px; background:#fff; font-size:12px; color:#333; border:1px solid #ddd; border-top-left-radius:3px; border-top-right-radius:3px; padding:10px; resize:none; overflow-x:hidden; overflow-y:auto;} */
.reviewContent {width:478px; height:158px; background:#fff; font-size:12px; color:#333; border:1px solid #ddd; border-top-left-radius:3px; border-top-right-radius:3px; padding:10px; resize:none; overflow-x:hidden; overflow-y:auto;}


.fileBox{ width:498px; min-height:28px; height:auto; background:#fff; border:1px solid #ddd; border-top:none; border-bottom-left-radius:3px; border-bottom-right-radius:3px;  }


.fileNameBox { width:458px; min-height:28px; height:auto; padding-left:10px; float:left; vertical-align:middle;  overflow:hidden;  }
.fileNameBox::-webkit-scrollbar { 
    display: none; 
}


.p_fileName{ line-height:28px; margin-right:10px;}


#btn_deleteFile{ width:10px; height:10px; border:none; padding:0; margin-top:10px; margin-left:5px; background:url(../img/delete.png);  }


#nextFileName { position:absolute; right:0; width:10px; height:10px; border:none; margin-top:10px; padding:0; }
.fileBox [type="file"] {width:30px; height:30px; float:right; overflow:hidden; background:url(../img/attach.png) center center no-repeat; background-size:60%; text-indent:-9999px; overflow-x:hidden;}

#memberButtonBox input {float:right; margin-bottom:50px; }
	
	
